$dark: #202324;
$light: #ffffff;
$lightish: #555;
$darker: #101314;

body {
  background-color: $light;
  height: 100vh;
  transition: all 0.4s ease;
}

body .subtitle,
body .title {
  color: $dark;
}

body.dark {
  background-color: $dark;
  color: $light;
}

body.dark .subtitle,
body.dark .columns,
body.dark .is-size-1,
body.dark .is-size-2,
body.dark .is-size-3,
body.dark .is-size-4,
body.dark .is-size-5,
body.dark .is-size-6,
body.dark .label,
body.dark .title {
  color: $light;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

body.dark .select,
body.dark select {
  background: $darker;
  border: $dark;
  color: $light;
  border-color: $darker;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

body.dark .select:hover {
  border: $dark;
  border-color: $dark;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

body.dark button {
  background: $light;
  color: $dark;
}

body.dark .button.is-success {
  background: #3ec487;
  color: $light;
  border-color: $dark;
  border-width: 3px;
  border-style: solid;
}

body.dark .button {
  background: $darker;
  color: $light;
  border-color: $dark;
  border-width: 3px;
  border-style: solid;
  border-radius: 7px;
}

body.dark .button:hover {
  background: $dark;
  color: $light;
  border-color: $dark;
  border-width: 3px;
  border-style: solid;
  border-radius: 7px;
}

body.dark .button.darker {
  background: $darker;
  color: $light;
  border-color: $darker;
  border-width: 4px;
  border-style: solid;
  border-radius: 7px;
}

body.dark .input {
  color: $light;
  background: $dark;
  border-color: $lightish;
  border-style: solid;
  border-width: 3px;
  border-radius: 7px;
}

body.dark .input::placeholder {
  color: $lightish;
}

body.dark #root,
body.dark .container,
body.dark .navbar,
body.dark .navbar-burger,
body.dark .navbar-item {
  color: $light;
  background: $dark;
  background-color: $dark;
}

body.dark .navbar-item:hover {
  color: $light;
  background: $darker;
}

body.dark .navbar-menu {
  color: $light;
  background: $dark;
  border-color: $dark $lightish $lightish $lightish;
  border-style: solid;
  border-width: 3px;
  border-radius: 0px 0px 7px 7px;
}

body.dark .box,
body.dark .card {
  color: $light;
  background: $darker;
}

body.dark .footer {
  color: $light;
  background: rgb(26, 28, 29);

}
